<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h4 class="bg-light px-2">商品新規登録</h4>
      <%= form_with model: [:admin,@product] do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品画像</td>
            <td>
              <div class="col-md-6 px-md-0">
                <%= f.file_field :image %>
              </div>
            </td>
          </tr>
          <tr>
            <td>商品名</td>
            <td>
              <div class="col-md-6 px-md-0">
                <%= f.text_field :name %>
              </div>
            </td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name)%></td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td><%= f.text_field :price %>円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <%= f.radio_button :is_sales, true %>
              <%= f.label :is_sales, '販売中', value: true %>
              <%= f.radio_button :is_sales, false %>
              <%= f.label :is_sales, '販売停止中', value: false %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <%end%>
    </div>
  </div>
</div>



